body{
}

.blank {
}

.usa-grid{
	background: #edf4f7;
}
.centeredForm{
    margin-top:10%;
}
.usa-form-large{
    margin-left:auto;
    margin-right:auto;
    background: #edf4f7;
}

.profile-form-input{
    height:3rem;
    padding-top:0px;
    padding-bottom:0px;
}
.profile-label{
    margin-top:1.4rem;
}
.profile-form-input-notification-by-location {
	margin-top:1.4rem;
}
.loginFormDiv{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
.passwordDiv{
    margin-bottom:30px;
}

.registrationFormDiv{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.headerZone {
  background: #003466;

}
.usa-nav-secondary-links a {
      color:white!important;
}
.contentZone{
    padding-bottom: 10em;
}
.event{
    border: 5px;
    border-color: black;
    border-style: double;
    padding:0px!important;
}
.footerZone{
    position:fixed;
    width:100%;
    bottom:0;
}
button.usa-button-login{
    margin-left:50%;
    transform:translateX(-50%);
	width: 220px;
}
label.notifications{
    margin-top:0px;
}
.login-text{
    display:inline-block;
    align:center;
}
.login-error{
    float:left;
}
.login-alert{
	padding:0px;
}
.usa-form-note{
    clear:both;
}
input.phone{
    float:left;
    clear:none;
    margin-right: 1rem;
    width: 5rem;
}
input.phoneLong{
    display:inline-block;
    width: 6rem;
}
.zipCodeText{
    float:right;
    width:80%;
}
.emailAddressText{
}
input.zipCode{
    display:inline-block;
    width: 7rem;
}
/* The Modal (background) */
.modal.fade {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-duration: 0.5s
}

/* Modal Content */
.modal-content {
    margin-top:20px;
    overflow: auto;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    -webkit-animation-name: slideOut;
    -webkit-animation-duration: 0.5s;
    animation-name: slideOut;
    animation-duration: 0.5s
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    -webkit-animation-name: slideOut;
    -webkit-animation-duration: 0.5s;
    animation-name: slideOut;
    animation-duration: 0.5s
}

/* Add Animation Slide In*/
@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 42px; opacity: 1}
}

@keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 42px; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

// work in progress
/* Add Animation - Slide out*/
@-webkit-keyframes slideOut {
    from {top: 10%; opacity: 1}
    to {top: -300px; opacity: 0}
}


@keyframes slideOut {
    from {top: 10%; opacity: 1}
    to {top: -300px; opacity: 0}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}
