body{
	background-image: url("../images/nature-man-woman-29585.jpg");
}

.blank {	
}

.usa-grid{
	background: #edf4f7;
}

.login-content{
	max-width: 400px;
	max-height: 550px;
	margin-top:10%;
}

button.usa-button-login{
	width: 299px;
	height: 48px;
}

.auth-input{
	max-width: 300px;
	max-height: 32px;
}

.login-alert{
	padding:0px;
}
