.clickable-header-logo {
  cursor: pointer;
  cursor: hand; }

.usa-grid {
  background: #edf4f7; }

.profile-form-input {
  height: 3rem;
  padding-top: 0px;
  padding-bottom: 0px; }

.profile-label {
  margin-top: 1.4rem; }

.profile-form-input-notification-by-location {
  margin-top: 1.4rem; }

.loginFormDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.passwordDiv {
  margin-bottom: 30px; }

.registrationFormDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.headerZone {
  background: #003466;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
  .headerZone {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
    .headerZone .usa-header {
      background: #003466;
      width: 100%;
      height: 48px;
      padding: 8px 12px;
      box-shadow: 0 2px 4px #888888; }
      .headerZone .usa-header .usa-header-logo .usa-header-logo-img {
        position: relative;
        float: left;
        display: inline-block;
        background-size: 80px;
        max-width: 33%;
        height: auto; }
      .headerZone .usa-header .usa-nav-inner {
        position: absolute;
        top: 0;
        right: 8px; }
        .headerZone .usa-header .usa-nav-inner .usa-nav-secondary {
          padding: 11px 2px; }
          .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li {
            display: inline-block; }
            .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a {
              color: white !important;
              font-size: 0.6em; }
              .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a:first-child {
                margin-right: 10px; }
    .headerZone .data-ui-view {
      padding: 5em;
      padding-bottom: 5em; }
    .headerZone .mapArea {
      height: 100%;
      position: relative;
      width: 100%; }
    .headerZone .event-list-container {
      height: inherit;
      height: 500px; }
    .headerZone .event-info {
      height: 100%;
      overflow: auto; }
    .headerZone .event-details-container {
      border: solid;
      height: 500px; }
      .headerZone .event-details-container .usa-heading-alt {
        border-bottom: solid;
        margin-right: 2em;
        margin-left: 2em; }
      .headerZone .event-details-container .button_wrapper {
        padding-left: 6em; }

  .contentZone.lightning-background {
    background: url("../images/backgrounds/lightning-480.jpg") center bottom no-repeat; }

  .usa-content h3 {
    font-size: 1.8rem; }
  .usa-content .centeredForm {
    margin: 0% auto;
    padding: 12px;
    width: 90%;
    background: rgba(237, 244, 247, 0.85);
    box-shadow: 0 0 8px #888888; }
    .usa-content .centeredForm .usa-form-large {
      margin: 0 auto;
      padding: 8px; }
  .usa-content .site-description {
    width: 80%;
    height: auto;
    margin: 60px auto;
    padding: 2px 10px;
    background: rgba(0, 52, 102, 0.6);
    color: #ffffff;
    font-size: 0.8em; }
    .usa-content .site-description p {
      width: 100% !important;
      max-width: 100% !important; } }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .headerZone {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
    .headerZone .usa-header {
      background: #003466;
      width: 100%;
      height: 74px;
      padding: 12px 0 12px 12px;
      box-shadow: 0 2px 4px #888888; }
      .headerZone .usa-header .usa-header-logo .usa-header-logo-img {
        position: relative;
        float: left;
        display: inline-block;
        background-size: 160px;
        max-width: 20%;
        height: auto; }
      .headerZone .usa-header .usa-nav-inner {
        position: absolute;
        top: 0;
        right: 8px; }
        .headerZone .usa-header .usa-nav-inner .usa-nav-secondary {
          padding: 28px 2px 20px; }
          .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li {
            display: inline-block; }
            .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a {
              color: white !important;
              font-size: 0.9em; }
              .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a:first-child {
                margin-right: 10px; }

  .contentZone.lightning-background {
    background: url("../images/backgrounds/lightning-768.jpg") center bottom no-repeat; }

  .usa-content .centeredForm {
    margin: 8% auto;
    padding: 12px;
    width: 400px;
    background: rgba(237, 244, 247, 0.85);
    box-shadow: 0 0 8px #888888; }
    .usa-content .centeredForm .usa-form-large {
      margin: 0 auto;
      padding: 8px; }
  .usa-content .site-description {
    width: 80%;
    height: auto;
    margin: 60px auto;
    padding: 2px 10px;
    background: rgba(0, 52, 102, 0.6);
    color: #ffffff;
    font-size: 0.8em; }
    .usa-content .site-description p {
      width: 100% !important;
      max-width: 100% !important; } }
.angular-google-map-container {
  height: 400px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .headerZone {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
    .headerZone .usa-header {
      background: #003466;
      width: 100%;
      height: 92px;
      padding: 12px 0 12px 12px;
      box-shadow: 0 2px 4px #888888; }
      .headerZone .usa-header .usa-header-logo .usa-header-logo-img {
        position: relative !important;
        float: left !important;
        display: inline-block !important;
        background-size: 220px !important;
        max-width: 20% !important;
        height: auto !important; }
      .headerZone .usa-header .usa-nav-inner {
        position: absolute !important;
        top: 0 !important;
        right: 8px !important; }
        .headerZone .usa-header .usa-nav-inner .usa-nav-secondary {
          padding: 33px 2px !important; }
          .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li {
            display: inline-block !important; }
            .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a {
              color: white !important;
              font-size: 0.9em !important; }
              .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a:first-child {
                margin-right: 10px !important; }

  .contentZone.lightning-background {
    background: url("../images/backgrounds/lightning-1024.jpg") center bottom no-repeat; }

  .usa-content .centeredForm {
    margin: 10% auto;
    padding: 12px;
    width: 400px;
    background: rgba(237, 244, 247, 0.85);
    box-shadow: 0 0 8px #888888; }
    .usa-content .centeredForm .usa-form-large {
      margin: 0 auto;
      padding: 8px; }
  .usa-content .site-description {
    width: 80%;
    height: auto;
    margin: 60px auto;
    padding: 2px 10px;
    background: rgba(0, 52, 102, 0.6);
    color: #ffffff;
    font-size: 0.8em; }
    .usa-content .site-description p {
      width: 100% !important;
      max-width: 100% !important; } }
/* Weird sizing ----------- */
@media only screen and (min-device-width: 951px) and (max-device-width: 1024px) {
  .headerZone {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
    .headerZone .usa-header {
      background: #003466;
      width: 100%;
      height: 92px;
      padding: 12px 0 12px 12px;
      box-shadow: 0 2px 4px #888888; }
      .headerZone .usa-header .usa-header-logo .usa-header-logo-img {
        position: relative !important;
        float: left !important;
        display: inline-block !important;
        background-size: 220px !important;
        max-width: 20% !important;
        height: auto !important; }
      .headerZone .usa-header .usa-nav-inner {
        position: relative !important;
        top: 0 !important;
        right: 8px !important; }
        .headerZone .usa-header .usa-nav-inner .usa-nav-secondary {
          padding: 33px 2px !important; }
          .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li {
            display: inline-block !important; }
            .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a {
              color: white !important;
              font-size: 0.9em !important; }
              .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a:first-child {
                margin-right: 10px !important; }

  .contentZone.lightning-background {
    background: url("../images/backgrounds/lightning-1024.jpg") center bottom no-repeat; }

  .usa-content .centeredForm {
    margin: 10% auto;
    padding: 12px;
    width: 400px;
    background: rgba(237, 244, 247, 0.85);
    box-shadow: 0 0 8px #888888; }
    .usa-content .centeredForm .usa-form-large {
      margin: 0 auto;
      padding: 8px; }
  .usa-content .site-description {
    width: 80%;
    height: auto;
    margin: 60px auto;
    padding: 2px 10px;
    background: rgba(0, 52, 102, 0.6);
    color: #ffffff;
    font-size: 0.8em; }
    .usa-content .site-description p {
      width: 100% !important;
      max-width: 100% !important; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  .headerZone {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
    .headerZone .usa-header {
      background: #003466;
      width: 100%;
      height: 108px;
      padding: 12px 0 12px 12px;
      box-shadow: 0 2px 4px #888888; }
      .headerZone .usa-header .usa-header-logo-img {
        position: relative;
        float: left;
        display: inline-block;
        background-size: 260px;
        width: 260px;
        height: auto; }
      .headerZone .usa-header td {
        padding: 0; }
      .headerZone .usa-header .usa-nav-inner {
        position: relative !important;
        top: 0;
        right: 8px; }
        .headerZone .usa-header .usa-nav-inner .usa-nav-secondary {
          padding: 28px 2px 20px; }
          .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li {
            display: inline-block; }
            .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a {
              color: white !important;
              font-size: 0.9em; }
              .headerZone .usa-header .usa-nav-inner .usa-nav-secondary ul li a:first-child {
                margin-right: 10px; }

  .contentZone.lightning-background {
    background: url("../images/backgrounds/lightning-1080.jpg") center bottom no-repeat; }

  .usa-content .centeredForm {
    margin: 10% auto;
    padding: 12px;
    width: 400px;
    background: rgba(237, 244, 247, 0.85);
    box-shadow: 0 0 8px #888888; }
    .usa-content .centeredForm .usa-form-large {
      margin: 0 auto;
      padding: 8px; }
  .usa-content .site-description {
    width: 80%;
    height: auto;
    margin: 60px auto;
    padding: 2px 10px;
    background: rgba(0, 52, 102, 0.6);
    color: #ffffff;
    font-size: 0.8em; }
    .usa-content .site-description p {
      width: 100% !important;
      max-width: 100% !important; } }
.contentZone {
  margin-top: 5em;
  padding-bottom: 2em;
  z-index: -1; }

.usa-grid {
  background: white; }

.scrollable-section {
  overflow-y: scroll;
  height: inherit;
  border: solid; }
  .scrollable-section table {
    margin-top: 1em; }

.data-ui-view {
  padding: 5em;
  padding-bottom: 5em; }

.mapArea {
  height: 100%;
  position: relative;
  width: 100%; }

.event-list-container {
  height: inherit;
  height: 500px; }

.event-details-container {
  border: solid;
  height: 500px; }
  .event-details-container .usa-heading-alt {
    border-bottom: solid;
    margin-right: 2em;
    margin-left: 2em; }
  .event-details-container .button_wrapper {
    padding-left: 6em; }
  .event-details-container td {
    border: 0; }

.event-details {
  height: 350px; }
  .event-details .event-icons {
    text-align: left;
    vertical-align: top;
    width: 10px; }
  .event-details .button_wrapper {
    vertical-align: bottom; }

.event {
  border-style: solid;
  margin: 5px; }
  .event table {
    margin: 0; }
  .event .event-logo {
    width: 4em; }
  .event .event-icons {
    padding-left: .25em;
    padding-right: .25em; }
  .event td {
    padding: 0; }
  .event h5 {
    margin-top: 2px; }

.active {
  border-color: blue; }

.footerZone {
  width: 100%;
  bottom: 0; }

button.usa-button-login {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 220px; }

label.notifications {
  margin-top: 0px; }

.login-text {
  display: inline-block;
  align: center; }

.login-error {
  float: left; }

.login-alert {
  padding: 0px; }

.usa-form-note {
  clear: both; }

input.phone {
  float: left;
  clear: none;
  margin-right: 1rem;
  width: 5rem; }

input.phoneLong {
  display: inline-block;
  width: 6rem; }

.zipCodeText {
  float: right;
  width: 80%; }

.notificationMessageInfo {
  float: right; }

.emailAddressText .additional-input-info {
  font-size: 13px; }
.emailAddressText input.zipCode {
  display: inline-block;
  width: 7rem; }

/* The Modal (background) */
.modal.fade {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s; }

/* Modal Content */
.modal-content {
  margin: 14% auto;
  overflow: auto;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.5s;
  animation-name: slideIn;
  animation-duration: 0.5s; }

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  -webkit-animation-name: slideOut;
  -webkit-animation-duration: 0.5s;
  animation-name: slideOut;
  animation-duration: 0.5s; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-animation-name: slideOut;
  -webkit-animation-duration: 0.5s;
  animation-name: slideOut;
  animation-duration: 0.5s; }

/* Add Animation Slide In*/
@-webkit-keyframes slideIn {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 42px;
    opacity: 1; } }
@keyframes slideIn {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 42px;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Add Animation - Slide out*/
@-webkit-keyframes slideOut {
  from {
    top: 10%;
    opacity: 1; }
  to {
    top: -300px;
    opacity: 0; } }
@keyframes slideOut {
  from {
    top: 10%;
    opacity: 1; }
  to {
    top: -300px;
    opacity: 0; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=cgipoc.css.map */
